/* GENERAL PAGE STYLING */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e6e6e6;
}

/* HEADER SECTION */
.header {
    text-align: center;
    padding: 25px;
}

.header h1 {
    margin: 0;
    font-size: 35px;
    font-weight: bold;
}

.header p {
    margin-top: 8px;
    color: gray;
    font-size: 16px;
}

/* DASHBOARD MAIN CARD */
.dashboard {
    width: 85%;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background: linear-gradient(to bottom, #1ea7ff, #0077d9);
    border-radius: 35px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);
}

/* SUMMARY CARDS SECTION */
.summary {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid #ddd;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #004b87;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

/* + ADD BUTTON SECTION */
.add-section {
    text-align: center;
    margin: 35px 0;
}

.add-btn {
    width: 90px;
    height: 90px;
    margin: auto;

    border-radius: 50%;
    background: rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 55px;
    font-weight: lighter;
    color: white;
}

.add-section p {
    margin-top: 12px;
    font-size: 16px;
    color: #eaf7ff;
}

/* LOWER SECTION */
.lower-section {
    display: flex;
    gap: 25px;
}

/* COMMON WHITE BOX */
.box {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid #ddd;
}

/* CATEGORY ITEMS */
.category-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.category-item:last-child {
    border-bottom: none;
}

/* TRANSACTION CARD */
.transaction-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f8f9ff;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: 1px solid #ddd;
}

.transaction-card h3 {
    margin: 0;
    font-size: 16px;
}

.transaction-card p {
    margin: 4px 0 0;
    font-size: 13px;
    color: gray;
}

/* AMOUNT STYLE */
.amount {
    font-weight: bold;
    font-size: 18px;
    color: red;
}
